.radio-toolbar {
    display: flex;
    margin: 15px 0;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.radio-button {
    display: none;
}

.text {
    margin-left: 8px;
}

.fake {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #db2737;
    border-radius: 50%;
    position: relative;
}

.fake::before {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #db2737;
    border-radius: 50%;
    opacity: 0;
    transition: .2s;
}

.radio-button:checked + .fake::before {
    opacity: 1;
}